.contact-title {
    width: 530px;
    height: 70px;
    margin-top: 140px;
    margin-bottom: 80px;
}

.form-div {
    height: 110px;
    display: flex;
    flex-direction: column;
}

.form-input {
    height: 70px;
    margin-top: 10px;
    margin-bottom: 40px;
}

.form-textarea {
    height: 200px;
    margin-top: 10px;
    margin-bottom: 40px;
}

.form-dv {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 1100px;
}

.form-dv input {
    width: 530px;
    height: 70px;
}

.button-contact {
    width: 1100px;
    height: 80px;
    margin-top: 40px;
}

.menu-toggle {
    display: none;
    font-size: 24px;
    cursor: pointer;
}

.navbar nav .menu-toggle {
    display: block;
  }



/*****    media query

  .navbar nav ul.open {
    display: block;
  }

  .menu-toggle {
    position: absolute;
    top: 0; 
    right: 0; 
    padding: 10px;
    background-color: #333; 
    color: #fff; 
    border: none;
    cursor: pointer;
}

.menu-toggle:focus {
    outline: none;
}


  @media (max-width: 768px) {
    .navbar nav ul {
     display: none;
    }

**/

