.contact-title {
    width: 530px;
    height: 70px;
    margin-top: 140px;
    margin-bottom: 80px;
}

.form-div {
    display: flex;
    flex-direction: column;
}

.form-input {
    height: 70px;
    margin-top: 10px;
    margin-bottom: 40px;
    background-color: rgba(107, 112, 141, 0.1);
    border-style: none;
    box-sizing: border-box;
    padding-left: 10px;
}


.form-dv {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 1100px;
}

.form-dv input {
    width: 530px;
}

.form-textarea {
    height: 200px;
    margin-top: 10px;
    margin-bottom: 40px;
    background-color: rgba(107, 112, 141, 0.1);
    border-style: none;
    padding-left: 10px;
}

.button-contact {
    width: 1100px;
    height: 80px;
    margin-top: 40px;
}

.menu-toggle {
    display: none;
    font-size: 24px;
    cursor: pointer;
}

.navbar nav .menu-toggle {
    display: block;
  }

